<form action="/consultas/actualizar/?_method=PUT" method="POST">
    <span class="formItem">
        <label for="nom">Nombre : </label>
        <input type="text" id="nomEdit" name="nombre" readonly>
    </span>
    <span class="formItem">
        <label for="edad">Edad : </label>
        <input type="number" id="edadEdit" name="edad" required min="1" max="100" step="1" pattern="^[0-9]*?">
    </span>
    <span class="formItem">
        <label for="trabajo">Trabajo : </label>
        <input type="text" id="trabajoEdit" name="trabajo" required>
    </span>
    <span class="formItem">
        <label for="activo">Activo : </label>
        <input type="checkbox" name="activo" id="activoEdit">
    </span>
    <span class="formItem">
        <input type="submit" value="Enviar">
    </span>
</form>