<form action="/consultas/insertar" method="post">
    <span>
        <label for="nom">Nombre : </label>
        <input type="text" id="nom" name="nombre" required>
    </span>
    <span>
        <label for="edad">Edad : </label>
        <input type="number" id="edad" name="edad" required>
    </span>
    <span>
        <label for="trabajo">Trabajo : </label>
        <input type="text" id="trabajo" name="trabajo" required>
    </span>
    <span>
        <label for="activo">Activo : </label>
        <input type="radio" name="activo" id="activo">
    </span>
    <span>
        <input type="submit" value="Enviar">
    </span>
</form>