

<nav class="cont-header">
    <span class="logo"></span>
    <ul class="horizontal">
        <li><a href="http://localhost:3000/">Home</a></li>
        <li><a href="http://localhost:3000/consultas">Consultas</a></li>
        <li><a href="http://localhost:3000/consultasA">Agregate</a></li>
        <li>
            <span href="">Contacto</span>
            <ul class="vertical">
                <li><a href="">Hector</a></li>
                <li><a href="">Israel</a></li>
                <li><a href="">Jesus</a></li>
            </ul>
        </li>
    </ul>
    <span class="extra"></span>
</nav>