{{> header}}
<main>
    <div class="formContenedor">
        <div class="insertar">
            {{> formInsertBasico}}
        </div>
        <div class="actualizar">
            {{> formUpdateBasico}}
        </div>
    </div>
    <div class="datos">
        {{> mostrarDatos}}
    </div>
</main>
<script src="/js/consultas_basicas.js"></script>
