<link rel="stylesheet" href="/stylesheets/styleAggregate.css">
{{> header}}
<main>
    <div class="formContenedor">
        <div class="insertar">
            {{> formInsertAggregate}}
        </div>
        <div class="actualizar">
            {{> formUpdateAggregate}}
        </div>
    </div>
    <div class="datos">
        {{> mostrarDatosAggregate}}
    </div>
</main>
<script src="/js/consultas_aggregate.js"></script>