<link rel="stylesheet" href="/stylesheets/styleAggregate.css">
{{> header}}
<main>
    <div class="formContenedor">
        <div class="insertar">
            <div class="form-titulo green">INSERTAR</div>
            {{> formInsertAggregate}}
        </div>
        <div class="actualizar">
            <div class="form-titulo orange">ACTUALIZAR</div>
            {{> formUpdateAggregate}}
        </div>
        <div class="buscar">
            <div class="form-titulo blu">BUSCAR</div>
            {{> formFindAggregate}}
        </div>
    </div>
    <div class="datos">
        {{> mostrarDatosAggregate}}
    </div>
</main>
<script src="/js/consultas_aggregate.js"></script>