<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/49e9f08ff3.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/js/font-awesome/css/all.css">
    <link rel="icon" href="/img/favicon.png">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
