<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/js/font-awesome/css/all.css">
    <link rel="icon" href="/img/favicon.png">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
