<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/49e9f08ff3.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
