*{
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(45deg, rgb(58, 57, 57), rgb(139, 139, 139));
  min-height: 100vh;
}
main{
  display: grid;
  grid-template-rows: minmax(10rem , 15rem) 1fr;
  gap: 10px;
  padding: 10px;
}

/* Estilos de Header */

.cont-header{
  background-color: #000;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
  .cont-header *{
      color: #fff;
  }
  li{
      list-style: none;
  }
  a{
      text-decoration: none;
  }
  .horizontal{
      display: flex;
      justify-content: space-evenly;
  }
  .horizontal li a,.horizontal li span{
      display: block;
      padding: 1rem;
  }
  .horizontal li:hover{
      background-color: #555;
  }
  .vertical{
      position: absolute;
      display: none;
      background-color: #000;
      width: 6rem;
  }

  .horizontal li:hover .vertical{
      display: block;
  }

/* Fin de Header */

/* Estilos de Formulario */

form{
  background-color: #fff;
  display: grid;
  gap: 10px;
  border-radius: 1rem;
  padding: 10px
}
.formItem{
  display: grid;
  justify-items: center;
}

.formContenedor{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* Fin de Formulario */

/* Grid para mostrar datos */

.tituloDatos{
  text-align: center;
  margin-bottom: 10px;
}

.contDatos{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.titulo-contDatos{
  justify-self: center;
  font-weight: bold;
  font-size: 14pt;

}

.item-contDatos{
  justify-self: center;
  font-size: 12pt;
}

.link{
  cursor: pointer;
}

/* Fin de Datos */